.idea/AnnotatedTree.iml
cmake-build-debug/AnnotatedTree.cbp
cmake-build-debug/libAnnotatedTree.a
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.14.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/build.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/CXX.includecache
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/depend.internal
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/depend.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/flags.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/LayerInfo.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/link.txt
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/progress.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/DependencyLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/EnglishPropbankLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/EnglishSemanticLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/EnglishWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MetaMorphemeLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MetaMorphemesMovedLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MorphologicalAnalysisLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MultiWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/NERLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/PersianWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/ShallowParseLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/SingleWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/SingleWordMultiItemLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/SourceLanguageWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TargetLanguageWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TurkishPropbankLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TurkishSemanticLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TurkishWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/WordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsProperNoun.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsPunctuationNode.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsTransferable.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsTurkishLeafNode.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsVerbNode.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsVPNode.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LayerExist/ContainsLayerInformation.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LayerExist/NotContainsLayerInformation.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LayerExist/SemiContainsLayerInformation.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LeafConverter/LeafToEnglish.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LeafConverter/LeafToLanguageConverter.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LeafConverter/LeafToPersian.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LeafConverter/LeafToRootFormConverter.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/LeafConverter/LeafToTurkish.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/NodeModification/ConvertToLayeredFormat.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/NodeModification/DestroyLayers.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/NodeModification/ModifyTags.cpp.o
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/fileList.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseNodeDrawable.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseNodeSearchable.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseTreeDrawable.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseTreeSearchable.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/SearchTree.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/TreeBankDrawable.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/AutoProcessor/AutoArgument/AutoArgument.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/AutoProcessor/AutoArgument/TurkishAutoArgument.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/AutoProcessor/AutoDisambiguation/PartOfSpeech/TurkishCCDisambiguator.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/AutoProcessor/AutoDisambiguation/PartOfSpeech/TurkishPartOfSpeechDisambiguator.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/NodeDrawableCollector.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/TreeModifier.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/TreeToStringConverter.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsEnglishLeafNode.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsLeafNode.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsNodeWithPredicate.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsNodeWithSymbol.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsNodeWithSynSetId.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsNoneNode.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsNoneReplaceable.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsNullElement.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsNumber.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/Condition/IsPredicateVerbNode.cpp.o
/cmake-build-debug/CMakeFiles/Test.dir/
/cmake-build-debug/Test
cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/a.out
/cmake-build-debug/.cmake/api/v1/reply/
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Processor/
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/LayerInfo.cpp.o.d
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseNodeDrawable.cpp.o.d
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseNodeSearchable.cpp.o.d
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseTreeDrawable.cpp.o.d
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/ParseTreeSearchable.cpp.o.d
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/SearchTree.cpp.o.d
/cmake-build-debug/CMakeFiles/AnnotatedTree.dir/TreeBankDrawable.cpp.o.d
/cmake-build-debug/bin/
/cmake-build-debug/CMakeFiles/3.23.2/
/cmake-build-debug/conan.lock
/cmake-build-debug/conanbuildinfo.cmake
/cmake-build-debug/conanbuildinfo.txt
/cmake-build-debug/conaninfo.txt
/cmake-build-debug/graph_info.json
