.idea/AnnotatedTree.iml
cmake-build-debug/AnnotatedTree.cbp
cmake-build-debug/libAnnotatedTree.a
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.14.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.14.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.14.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/build.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/CXX.includecache
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/depend.internal
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/depend.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/flags.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/LayerInfo.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/link.txt
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/progress.make
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/DependencyLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/EnglishPropbankLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/EnglishSemanticLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/EnglishWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MetaMorphemeLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MetaMorphemesMovedLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MorphologicalAnalysisLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/MultiWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/NERLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/PersianWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/ShallowParseLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/SingleWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/SingleWordMultiItemLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/SourceLanguageWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TargetLanguageWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TurkishPropbankLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TurkishSemanticLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/TurkishWordLayer.cpp.o
cmake-build-debug/CMakeFiles/AnnotatedTree.dir/Layer/WordLayer.cpp.o
